// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0px;
  color: #005d8f;
}

#super-header {
  height: 15px;
  background-color: #fff;
  border-bottom: 9px solid #51b648;
}

#top-logo {
  height: 123px;
  background-color: #fff;
  text-align: center;
}

#logo {
  margin-top: 30px;
}

#sub-header {
  height: 38px;
  line-height: 38px;
  color: #fff !important;
  background-color: #51b648;
  text-align: center;
}

#main-container {
  background-image:url("/background.png");
  background-repeat:repeat;
  background-position: center 0%;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 150px;
  padding-bottom: 45px;
}

#main-content {
  width: 700px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

#main-description {
  padding:  45px 55px 0 45px;
  text-align: justify;
}

#how-it-works-list {
  list-style-type: none;
  margin-top: 45px;
  padding: 0;
}

#how-it-works-list li {
  display: inline-block;
  text-align: center;
  margin-right: 80px;
}

#how-it-works-list li span {
  font-weight: bold;
}

#how-it-works-list li:last-child {
  margin-right: 0px;
}

#sign-up-form {
  margin: 24px;
  border: 5px solid #005d8f;
  padding: 30px;
}

#sign-up-desc {
  margin-bottom: 24px;
}

.field_with_errors {
  display: inline-block;
}

#bottom-nav {
  text-align: center;
  height: 65px;
  line-height: 65px;
}

#social-pins {
  position: relative;
  top: 20px;
}


html {
  font-size: 17px;
}

input[type="text"] {
  height: 34px;
  width: 408px;
}

input[type="submit"] {
  height: 40px;
  width: 147px;
  color: #fff;
  background-color: #51b648;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-style: hidden;
  font-size: 22px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

a {
    color: #005d8f;
}
a:visited {
    color: #51b648;
}

a#white {
  color: #fff;
  font-weight: bold;
}

a#white:visited {
  color: #fff;
}